:root{
  /*these are variables*/
  --clock : #6b5142;
  --drum:rgb(194, 38, 38);
  --variables :#34bfc1;
  --array1 :black;
  --flex1 : #98733d;
  --ajaxtypeahead : #ffc600;
  --canvas :#aa05ff;
}

  html, body {
    height: 100%;
    background-color: #f5feff;
  }
  .content{
      margin-left:15px;
      margin-right:15px;
  }
  
  .wave-container > svg {
    display: block;
    background: #f5feff;
  }

  .wave-container {
    position: relative;
    background: #9fff82;
    color: #FFF;
    text-align: center;
    overflow: hidden;
  }

h1{
    color:#23abfa;
    margin-top:20px;
    text-align: center;
    text-shadow: 1.5px 1.5px #000000;
}
h1 a{ 
    color:#23abfa;
    text-decoration: underline;
}

#github{
    padding-right: 30px;
    font-size: 25px !important;
    color: #23abfa !important;
  }
  
#github:hover{ color: #84fff3;}

.footer-text{
    color:#23abfa;
    text-align: center;
    padding-bottom:15px;
}
.footer-text a{ text-decoration: underline; }

.card-title{ text-decoration: underline;}

.card-img-top {
  width: 100%;
  height: 200px!important;
  object-fit: cover;
}

.card:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05); 
}

.clock{color :var(--clock) !important;} 
.clockc:hover{box-shadow: 0 4px 8px 0 var(--clock), 0 6px 20px 0 var(--clock);}

.drum{color : var(--drum) !important}
.drumc:hover{box-shadow: 0 4px 8px 0 var(--drum), 0 6px 20px 0 var(--drum);}

.variables{color:var(--variables) }
.variablesc:hover{box-shadow: 0 4px 8px 0 var(--variables), 0 6px 20px 0 var(--variables);}

.array1{ color: var(--array1) }
.array1c:hover{box-shadow: 0 4px 8px 0 var(--array1), 0 6px 20px 0 var(--array1);}

.flex1{ color: var(--flex1) }
.flex1c:hover{box-shadow: 0 4px 8px 0 var(--flex1), 0 6px 20px 0 var(--flex1);}

.ajaxtypeahead{ color: var(--ajaxtypeahead) }
.ajaxtypeaheadc:hover{ box-shadow: 0 4px 8px 0 var(--ajaxtypeahead), 0 6px 20px 0 var(--ajaxtypeahead);}

.canvas{color:var(--canvas) }
.canvasc:hover{ box-shadow: 0 4px 8px 0 var(--canvas) , 0 6px 20px 0 var(--canvas);}