html {
    background-image: url("ClockBackground.png");
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
  }

.quote{
    font-family: 'Cookie', cursive;
    padding-right:45px;
    padding-top:50px;
}

blockquote{
    text-align: center;
    font-size: 50px;
    margin:0 !important;
    padding-bottom:20px !important;
}

  body {
    margin: 10px;
    font-size: 2rem;
    min-height: 100vh;
    align-items: center;
  }

  .clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid #6b5142;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
      0 0 0 5px rgba(0,0,0,0.1),
      inset 0 0 0 3px #ac9f97,
      inset 0 0 10px black,
      0 0 10px rgba(0,0,0,0.2);
  }

  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
  }

  .hand {
    width: 50%;
    height: 7px;
    background: black;
    position: absolute;
    top: 50%;
    /*this will transform the text at the origin rather than in the centre
    100% is because it'll start on the right hand side*/
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);

  }
  .second-hand{
    height: 2px;
  }

  .min-hand{
    height: 4px;
  }